
<div class="row">
    <div class="col s6 m4 l2 xl2">
      <div class="card">
        <div class="card-content">
            <img md-card-image src="assets/news4.png" class="myCardImage" height=150 width=150 (click)="goToNews()" alt="News">
        </div>
        <div class="card-action">
         News
        </div>
      </div>
    </div>

    <div class="col s6 m4 l2 xl2">
        <div class="card">
          <div class="card-content">
            <img md-card-image src="assets/weather.jpg" class="myCardImage" height=150 width=150 (click)="goToWeather()" alt="Weather">
          </div>
          <div class="card-action">
           Weather
          </div>
        </div>
      </div>

      <div class="col s6 m4 l2 xl2">
        <div class="card">
          <div class="card-content">
            <img md-card-image src="assets/translate.png" class="myCardImage" height=150 width=150 (click)="goToTranslate()" alt="Translate">
          </div>
          <div class="card-action">
           Translate
          </div>
        </div>
      </div>  
  </div>
