
  <div class="row" id="entireComp" style="margin-top:50px">
    <div class="col s12 m6 l4 xl3" *ngFor="let news of news">
      <div class="card" [style.height]="'290px'">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator b-lazy"  src="./assets/im1.gif" data-src={{news.urlToImage}} [height]="200" [width]="200" [alt]="'news_image'">
         <!--  <ngx-lazy-image [largeImgUrl]="news.urlToImage" [thumbnailUrl]="'./assets/im1.gif'"></ngx-lazy-image>  -->
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 titleHover" [style.font-size]="'16px'">{{news.title}}</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><a [href]="news.url" class="titleHover" [style.font-size]="'20px'" [target]="_blank">{{news.title}}</a><i class="material-icons right">close</i></span>
            <p>{{news.description}}</p>
          </div>
      </div>
    </div> 
    
    <div class="preloader-wrapper big active flex-container col offset-s5 offset-m5 offset-l5 offset-xl5" *ngIf="news.length == 0">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
      </div> 
      


  </div>

